footer .theme-by {
  text-align: center;
  margin: 100px 0 0;
}

.pager {
  list-style: none;
  text-align: center;
  margin: 20px 0 0;
  padding-left: 0;
}

.pager ul {
  display: block;
}

.pager .previous > a {
  margin: 20px 0 0;
  float: left;
  display: block;
}

.pager .next > a {
  margin: 20px 0 0;
  float: right;
  display: block;
}

input {
  background-color: #000000;
}

.nav-links{
  font-size: 24px;
  padding: 8px;
}

.nav-links a {
padding: 8px
}

.nav-logo{
  float:left;
  margin-right: 18px;
  height: 87px
}

.logo{
  flex-shrink: 0
}
