<head>
<meta charset="utf-8" />
{{ if .Title }}
  <title>{{ .Title }} - {{ .Site.Title }}</title>
{{ else }}
  <title>{{ .Site.Title }}</title>
{{ end }}
{{ with .Site.Params.description }}
  <meta name="description" content="{{ . }}" />
{{ end }}
{{- with .Site.Params.Author.Name }}
  <meta name="author" content="{{ . }}"/>
{{- end }}
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
{{ if site.Params.twittercard }}
{{ template "_internal/twitter_cards.html" . }}
{{- end }}
{{ if site.Params.opengraph }}
{{ template "_internal/opengraph.html" . }}
{{- end }}
{{ range .AlternativeOutputFormats -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
{{ end -}}
<link rel="stylesheet" href="{{ .Site.BaseURL }}css/latex.css" />
<link rel="stylesheet" href="{{ .Site.BaseURL }}css/main.css" />
<script id="MathJax-script" async src="{{ .Site.BaseURL }}js/tex-mml-chtml.js"></script>
</head>
