<nav class="navbar">
    {{ if .Site.Params.logo }}
    <div class="nav-links">
      <a href="{{ .Site.BaseURL }}" class="nav-logo">
      <img src="{{ .Site.BaseURL }}images/{{ .Site.Params.logo.url }}"
           width="{{ .Site.Params.logo.width }}"
           height="{{ .Site.Params.logo.height }}"
           alt="{{ .Site.Params.logo.alt }}">
      </a>
    {{ end }}
      {{ range .Site.Params.nav }}
        {{ if .icon }}
	<a href="{{ .url | relLangURL }}" name="{{ .name }}"><i class="{{ .icon }}"></a>
        {{ else }}
	<a href="{{ .url | relLangURL }}" name="{{ .name }}">{{ .name }}</a>
        {{ end }}
      {{ end }}
    </div>
</nav>
<hr>
<br>
