<span class="meta-post">
  <i class="fa fa-calendar-alt"></i>{{ .Date | time.Format ":date_full" }}
  {{ if .Params.categories }}
    <br><i class="fa fa-folder-open"></i>
    {{ range .Params.categories }}
      <a href="{{ $.Site.BaseURL }}categories/{{ . | urlize }}/">{{ . }}</a>&nbsp;
    {{ end }}
  {{ end }}
  <div class="time-read">
    {{ .ReadingTime }} minute(s)
  </div>
  <div class="tags">
    <a href="{{ $.Site.BaseURL }}tags">Tags</a> : 
          {{ range .Params.tags }}
            <a href="{{ $.Site.BaseURL }}tags/{{ . | urlize }}/">{{ . }}</a>, 
          {{ end }}
  </div>
</span>
