<span class="meta-post">
  {{- $lastmod := .Lastmod.Format ( .Site.Params.dateformat | default "Jan 2, 2006") }}
  {{- $pubdate := .PublishDate.Format ( .Site.Params.dateformat | default "Jan 2, 2006") }}
  <i class="fa fa-calendar-alt"></i>
  {{ $pubdate }}
  {{- if ne $lastmod $pubdate }}
  ({{ $lastmod }})
  {{- end }}
  {{ if .Params.categories }}
    <br><i class="fa fa-folder-open"></i>
    {{ range .Params.categories }}
      <a href="{{ $.Site.BaseURL }}/categories/{{ . | urlize }}/">{{ . }}</a>&nbsp;
    {{ end }}
  {{ end }}
</span>