{{ define "main" }}
<div class="container" role="main">
  {{ if eq .Kind "taxonomy" }}
    <article class="post-preview">
      {{ range .Data.Terms.Alphabetical }}
        <div class="terms">
          <h4 class="term-name">
            <a href="{{ .Page.RelPermalink }}">{{ .Page.Title }}</a>
            <span class="badge">{{ .Count }}</span>
          </h4>
        </div>
      {{ end }}
    </article>
  {{ else }}
    <div class="posts-list">
      {{ if .IsHome }}
        {{ $pag := .Paginate (where site.RegularPages "Type" "in" site.Params.mainSections) }}
      {{ else }}
        {{ $pag := .Paginator.Pages }}
      {{ end }}

      {{ range .Paginator.Pages }}
        {{ partial "preview.html" . }}
      {{ end }}
    </div>
    {{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
    <ul class="pager">
      {{ if .Paginator.HasPrev }}
        <li class="previous">
          <a href="{{ .RelPermalink }}page/{{ .Paginator.Prev.PageNumber }}/">&larr; Newer</a>
        </li>
      {{ end }}
      {{ if .Paginator.HasNext }}
        <li class="next">
          <a href="{{ .RelPermalink }}page/{{ .Paginator.Next.PageNumber }}/">Older &rarr;</a>
        </li>
      {{ end }}
    </ul>
    {{ end }}
  {{ end }}
</div>
{{ end }}